extends layout

block content
	article.jqm-content(data-role='content')
		h1 Remote autocomplete
		p.jqm-intro
			| To use the listview filter as an autocomplete that taps into remote data sources, you can
			| use the
			code listviewbeforefilter
			| event to dynamically populate a listview as a user types a search
			| query.
		p
			| This is useful when you have a very large data set like cities, zip codes, or products that can't be loaded
			| up-front locally. Use the view source button to see the JavaScript that powers this demo.
		p
			| If you have a small list of items, you can use the listview
			a(href='../listviews/')
				| filter reveal
				| option
			| to make an autocomplete with local listview data.
		div(data-demo-html='true', data-demo-js='true', data-demo-css='true')
			h3 Cities worldwide
			p
				| After you enter
				strong at least three characters
				| the autocomplete function will show all
				| possible matches.
			ul#autocomplete(data-role='listview', data-inset='true', data-filter='true', data-filter-placeholder='Find a city...', data-filter-theme='d')
		//
			/demo-html
		a.jqm-button(href='index.php', data-role='button', data-inline='true', data-mini='true', data-icon='arrow-l', data-iconpos='left')
			| Back
			| to autocomplete