.jqm-nav-panel.jqm-navmenu-panel(data-role='panel', data-position='left', data-display='reveal', data-theme='c')
	ul.jqm-list(data-role='listview', data-theme='d', data-divider-theme='d', data-icon='false', data-global-nav='docs')
		li(data-role='list-divider') jQuery Mobile Demos
		li
			a(href='../') Home
		li
			a(href='intro/') Introduction
		li
			a(href='examples/') Demo Showcase
		li
			a(href='faq/') Questions & Answers
		li
			a(href='intro/rwd.php') Going Responsive
		li(data-role='list-divider') Widget reference