extends layout

block content
	article.jqm-content(data-role='content')
		h1 Introduction
		p.jqm-intro
			| jQuery Mobile is a touch-friendly UI framework built on jQuery Core that works across all popular mobile, tablet and desktop platforms.
		h2 Introduction
		p
			| jQuery Mobile is a user interface framework based on jQuery that works across all popular phones, tablet, e-reader, and desktop platforms. Built with accessibility and universal access in mind, we follow progressive enhancement and
			a(href='rwd.php') responsive web design (RWD)
			| principles. HTML5 Markup-driven configuration makes it easy to learn, but a powerful
			a(href='http://api.jquerymobile.com/') API
			| makes it easy to deeply customize the library.
		h2 Pages & Dialogs
		p
			| A
			a(href='../widgets/pages/') page
			| in jQuery Mobile consists of an element with a
			code  data-role="page"
			| attribute. Within the "page" container, any valid HTML markup can be used, but for typical pages in jQuery Mobile, the immediate children of a "page" are divs with data-roles of
			code "header"
			| ,
			code "content"
			| , and
			code "footer"
			| . The baseline requirement for a page is only the page wrapper to support the navigation system, the rest is optional.
		p
			| A page can be styled as a
			a(href='../widgets/dialog/') dialog
			| that makes the page look like it's a modal style overlay. To give a standard page the appearance of a modal dialog, add the
			strong data-rel="dialog"
			| attribute to the link. Transitions can also be set on dialog links.
		h2 AJAX Navigation & Transitions
		p
			| jQuery Mobile includes an
			a(href='../widgets/navigation/', data-ajax='false') AJAX navigation system
			| to support a rich set of animated page
			a(href='../widgets/transitions/', data-ajax='false') transitions
			| by automatically 'hijacking' standard links and form submissions and turning them into an AJAX request. The back button is fully supported and there are features to prefetch & cache, dynamically inject, and script pages for advanced use cases.
		p
			| Whenever a link is clicked or a form is submitted, that event is automatically intercepted by the AJAX nav system and is used to issue an AJAX request based on the
			code href
			| or form action instead of reloading the page. While the framework waits for the AJAX response, a loader overlay is displayed.
		p
			| When the requested page loads, jQuery Mobile parses the document for an element with the
			code  data-role="page"
			| attribute and inserts that code into the DOM of the original page. Next, any widgets in the incoming page are enhanced to apply all the styles and behavior. The rest of the incoming page is discarded so any scripts, stylesheets or other information will not be included. The framework will also note the title of the incoming page to update the title when the new page is transitioned into view.
		p
			| Now that the requested page is in the DOM and enhanced, it is animated into view with a
			a(href='../widgets/transitions/', data-ajax='false') transition
			| . By default, the framework applies a
			strong fade
			| transition. To set a custom transition effect, add the
			code data-transition
			| attribute to the link.
		h2 Content & Widgets
		p
			| Inside your content container, you can add any standard HTML elements - headings, lists, paragraphs, etc. You can write your own custom styles to create custom layouts by adding an additional stylesheet to the
			code head
			| after the jQuery Mobile stylesheet.
		p
			| jQuery Mobile includes a wide range of touch-friendly UI widgets:
			a(href='../widgets/buttons/') buttons
			| ,
			a(href='../widgets/forms/') form elements
			| ,
			a(href='../widgets/collapsibles/') collapsibles
			| ,
			a(href='../widgets/accordions/') accordions
			| ,
			a(href='../widgets/popup/') popups
			| ,
			a(href='../widgets/dialog/') dialogs
			| ,
			a(href='../widgets/table-column-toggle/') responsive tables
			| , and much more. For best performance, use the
			a(href='http://jquerymobile.com/download-builder/', rel='external') download builder
			| to pick the components you need.
		h4 Buttons
		p
			| There are a few ways to make
			a(href='../widgets/buttons/', title='buttons-types') buttons
			| , but let's turn a link into a button so it's easy to click. Just start with a link and add a
			code data-role="button"
			| attribute to it.  You can add an
			a(href='../widgets/icons/') icon
			| with the
			code data-icon
			| attribute and optionally set its position with the
			code data-iconpos
			| attribute.
		div(data-demo-html='true')
			a(href='#', data-role='button', data-icon='star') Star button
		h4 Listviews
		p
			| jQuery Mobile includes a diverse set of common
			a(href='../widgets/listviews/', title='docs-lists') listviews
			| that are coded as lists with a
			code data-role="listview"
			| added. Here is a simple linked list that has a role of
			code listview
			| . We're going to make this look like an inset module by adding a
			code data-inset="true"
			| attribute and we add a dynamic search filter with
			code data-filter="true"
			| .
		div(data-demo-html='true')
			ul(data-role='listview', data-inset='true', data-filter='true')
				li
					a(href='#') Acura
				li
					a(href='#') Audi
				li
					a(href='#') BMW
				li
					a(href='#') Cadillac
				li
					a(href='#') Ferrari
		h4 Form elements
		p
			| The framework contains a full set of
			a(href='../widgets/forms/') form elements
			| that are automatically enhanced into touch-friendly styled widgets. Here's a slider made with the new HTML5 input type of range, no
			code data-role
			| needed. Be sure to wrap these in a
			code form
			| element and always properly associate a
			code label
			| with every form element.
		div(data-demo-html='true')
			form
				label(for='textinput-s') Text Input:
				input#textinput-s(type='text', name='textinput-s', placeholder='Text input', value='', data-clear-btn='true')
				label(for='select-native-s') Select:
				select#select-native-s(name='select-native-s')
					option(value='small') One
					option(value='medium') Two
					option(value='large') Three
				label(for='slider-s') Input slider:
				input#slider-s(type='range', name='slider-s', value='25', min='0', max='100', data-highlight='true')
		h2 Responsive Design
		p
			| jQuery Mobile has always been designed to work within a
			a(href='rwd.php') responsive web design (RWD)
			| context and our docs and forms had a few responsive elements from the very start. All the widgets are built to be 100% flexible in width to fit easily inside any responsive layout system you choose to build.
		p
			| The library also includes a number of responsive widgets like
			a(href='../widgets/grids/') responsive grids
			| ,
			a(href='../widgets/table-reflow/') reflow tables
			| and
			a(href='../widgets/table-column-toggle/') column chooser tables
			| , and
			a(href='../widgets/panels/') sliding panels
			| .
		h2 Theming
		p
			| jQuery Mobile has a robust theme framework that supports up to 26 sets of toolbar, content and button colors, called a "swatch". Just add a
			code data-theme="e"
			| attribute to any of the widgets on this page: page, header, list, input for the slider, or button to turn it yellow. Try different swatch letters from "a" to "e" in the default theme to mix and match swatches.
		p
			| Cool party trick: add the theme swatch to the page and see how all the widgets inside the content will automatically inherit the theme (headers and footers don't inherit, they default to swatch "a").
		div(data-demo-html='true')
			a(href='#', data-role='button', data-icon='star', data-theme='a') data-theme="a"
			a(href='#', data-role='button', data-icon='star', data-theme='b') data-theme="b"
			a(href='#', data-role='button', data-icon='star', data-theme='c') data-theme="c"
			a(href='#', data-role='button', data-icon='star', data-theme='d') data-theme="d"
			a(href='#', data-role='button', data-icon='star', data-theme='e') data-theme="e"
		p
			| When you're ready to build a custom theme, use
			a(href='http://www.jquerymobile.com/themeroller', rel='external') ThemeRoller
			| to drag and drop, then download a custom theme.
