extends layout

block content
	article.jqm-content(data-role='content')
		h1 Transitions
		p.jqm-intro
			| The jQuery Mobile framework includes a set of CSS-based transition effects that can be
			| applied to any page link or form submission with AJAX navigation.
		h2 Page transitions
		div(data-demo-html='true', data-demo-css='true')
			table(margin='0')
				tr
					th
						h3 fade
					td
						a(href='page-transitions-dialog', data-role='button', data-rel='dialog', data-transition='fade', data-inline='true') dialog
					td
						a(href='page-transitions-page', data-role='button', data-transition='fade', data-inline='true') page
				tr
					th
						h3 pop
					td
						a(href='page-transitions-dialog', data-role='button', data-rel='dialog', data-transition='pop', data-inline='true') dialog
					td
						a(href='page-transitions-page', data-role='button', data-transition='pop', data-inline='true') page
				tr
					th
						h3 flip
					td
						a(href='page-transitions-dialog', data-role='button', data-rel='dialog', data-transition='flip', data-inline='true') dialog
					td
						a(href='page-transitions-page', data-role='button', data-transition='flip', data-inline='true') page
				tr
					th
						h3 turn
					td
						a(href='page-transitions-dialog', data-role='button', data-rel='dialog', data-transition='turn', data-inline='true') dialog
					td
						a(href='page-transitions-page', data-role='button', data-transition='turn', data-inline='true') page
				tr
					th
						h3 flow
					td
						a(href='page-transitions-dialog', data-role='button', data-rel='dialog', data-transition='flow', data-inline='true') dialog
					td
						a(href='page-transitions-page', data-role='button', data-transition='flow', data-inline='true') page
				tr
					th
						h3 slidefade
					td
						a(href='page-transitions-dialog', data-role='button', data-rel='dialog', data-transition='slidefade', data-inline='true') dialog
					td
						a(href='page-transitions-page', data-role='button', data-transition='slidefade', data-inline='true') page
				tr
					th
						h3 slide
					td
						a(href='page-transitions-dialog', data-role='button', data-rel='dialog', data-transition='slide', data-inline='true') dialog
					td
						a(href='page-transitions-page', data-role='button', data-transition='slide', data-inline='true') page
				tr
					th
						h3 slideup
					td
						a(href='page-transitions-dialog', data-role='button', data-rel='dialog', data-transition='slideup', data-inline='true') dialog
					td
						a(href='page-transitions-page', data-role='button', data-transition='slideup', data-inline='true') page
				tr
					th
						h3 slidedown
					td
						a(href='page-transitions-dialog', data-role='button', data-rel='dialog', data-transition='slidedown', data-inline='true') dialog
					td
						a(href='page-transitions-page', data-role='button', data-transition='slidedown', data-inline='true') page
				tr
					th
						h3 none
					td
						a(href='page-transitions-dialog', data-role='button', data-rel='dialog', data-transition='none', data-inline='true') dialog
					td
						a(href='page-transitions-page', data-role='button', data-transition='none', data-inline='true') page
		//
			/demo-html
		p
			strong Important:
			| Some platforms currently have issues with transitions.
			| We are working on a solution to solve the problem for everyone.
			| If you are experiencing flickers and flashes during or at the end of a transition we suggest the following
			| workaround.
			| Please note that this workaround should be thoroughly tested on the target platform before deployment.
			| This workaround is known to cause performance issues and browser crashes on some platforms, especially
			| Android.
			| Add the following code to your custom css.
		code
			.ui-page { -webkit-backface-visibility: hidden; }
		p
			strong Only seeing fade transitions?
			| To view all transition types, you must be on a browser that
			| supports 3D transforms. By default, devices that lack 3D support (such as Android 2.x) will fallback to
			| "fade" for all transition types. This behavior is configurable (see below).
		p
			strong
				| Transitions were originally inspired by
				a(href='http://www.jqtouch.com/') jQtouch
			| They've since been rebuilt, but props to David Kaneda and Jonathan Stark for the initial guidance.
		h2 Setting a transition
		p
			| By default, the framework applies a
			strong fade
			| transition. To set a custom transition effect, add
			| the
			code data-transition
			| attribute to the link.
		code
			code
				<a href="index.html"
				strong data-transition="pop"
				>I'll pop</a>
		p
			| When the Back button is pressed, the framework will automatically apply the reverse version of the transition
			| that was used to show the page. To specify that the reverse version of a transition should be used, add the
			code data-direction="reverse"
			| attribute to a link.
		h2 Global configuration
		p
			| Set the
			code defaultPageTransition
			| global option if you'd prefer a different default transition.
			| Dialogs have a different option called
			code defaultDialogTransition
			| that can also be configured.
		h2 Browser support
		p
			| All transitions are built with CSS keyframe animations and include
			code -webkit
			| vendor prefixed rules
			| for iOS, Blackberry, Android, Safari and Chrome browsers,
			code -moz
			| rules for Firefox browsers, and
			| unprefixed rules for Windows Phone 8 and IE10. Support for keyframe animations and transition smoothness is
			| determined by the browser version and hardware and will safely fall back to no transition if animations
			| aren't supported. To proactively exclude transition in situations with poor performance, we exclude browsers
			| that lack 3D transforms and provide a fallback transition and apply a max width for when transitions are
			| applied.
		h2 Fallback transition
		p
			| By default, all transitions except fade require 3D transform support. Devices that lack 3D support will fall
			| back to a fade transition, regardless of the transition specified. We do this to proactively exclude
			| poorly-performing platforms like Android 2.x from advanced transitions and ensure they still have a smooth
			| experience. Note that there are platforms such as Android 3.0 that technically support 3D transforms, but
			| still have poor animation performance so this won't guarantee that every browser will be 100% flicker-free
			| but we try to target this responsibly.
		p
			| The fallback transition for browsers that don't support 3D transforms can be configured for each transition
			| type, but by default we specify "fade" as the fallback. For example, this will set the fallback transition
			| for the slideout transition to "none":
		code $.mobile.transitionFallbacks.slideout = "none"
		h2 Max scroll for transitions
		p
			| By default, transitions are disabled (set to "none") when you're either coming FROM or going TO a page where
			| the scroll position is 3x the height of the device's screen.
			| This feature was added because of the slow response times and the possibility of browser crashing when
			| clicking on a list item (or any navigation element) far down a long page which leads to the
			| browser trying to animate a really massively tall page from the scroll position to the top of the screen.
			| The scroll position, not total screen height, is the determining factor for performance.
			| This scroll position breakpoint is configurable via the new
			code getMaxScrollForTransition
			| function.
		h2 Max width for transitions
		p
			| By default, transitions can be disabled (set to "none") when the window width is greater than a certain pixel
			| width. This feature is useful because transitions can be distracting or perform poorly on larger screens.
			| This value is configurable via the global option
			code $.mobile.maxTransitionWidth
			| , which defaults to
			code false
			| . The option accepts any number representing a pixel width or
			code false
			| value. If
			| it's not
			code false
			| , the handler will use a "none" transition when the window is wider than the
			| specified value.
		h2 Same page transition
		p
			| Transitions to the current active page are ignored by default but can be enabled by using the
			code allowSamePageTransition
			| option of the
			code $.mobile.changePage
			| method. Note that not all transitions will work as expected
			| and may end in an impractical result.
		h2 Creating custom transitions
		p
			| jQuery Mobile allows for the addition of custom transitions to the
			code $.mobile.transitionHandlers
			| dictionary so you can expand the selection of transitions on your site or app.
